secrets/*
src/secrets/*
.DS_Store
junk.py
01_get_raw_data/dermaid.json
01_get_raw_data/isic_data/*
01_get_raw_data/secrets/*
03_train_model/isic_data/
03_train_model/secrets/*
04_classify_n_upload/secrets/*
05_saliency_maps/secrets/*
06_labeling/secrets/*
src/06_labeling/docker-volumes/*
src/secrets
*.env
/Pipfile
02_a_datapipeline/
*__pycache__